/* PegelAPI MagicMirror² CSS */
.pegel-table {
  border-collapse: collapse;
}

.pegel-table th,
.pegel-table td {
  padding-left: 5px;
  padding-right: 5px;  
}

.km {
  width: 30%;
}

.time {
  width: 30%;
}

.pegel {
  width: 40%;
  text-align: right;
}
